langchain 
langchain-community 
langchain-core 
langchain-google-genai 
langchain-huggingface 
langchain-qdrant 
langchain-text-splitters 
fastapi
jinja2
loguru 
pydantic
pydantic-settings
pypdf 
python-multipart
qdrant-client 
ragas 
sentence-transformers 
transformers 
typer 
uvicorn
